/*
 * --------------------------------------------------
 *  Config file for version
 * --------------------------------------------------
 */

manifest {
  name = 'QiuBio-nextflow/modules'
  author = 'Jianhong Ou'
  homePage = 'https://github.com/jianhong/universalModule'
  description = 'universal modules for nextflow pipeline.'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.10'
  version = '0.0.7'
}
